/* Basic Styling
 --------------------------------------------------------*/

@font-face {
    font-family: Code;
    src: url('../fonts/CODE_Light.otf');
}
@font-face {
    font-family: Code;
    font-weight: bold;
    src: url('../fonts/CODE_Bold.otf');
}

body {
    background: #222 url(../images/body-stripes.png) repeat;
    color: #666;
    font: 16px/1 Code, 'Helvetica Neue', Verdana, Helvetica, 'Liberation Sans', sans-serif;
}

a {
    color: #ccc;
    text-decoration: none;
    }
    a:hover {
        color: #fff;
    }

strong {
    font-weight: bold;
}

/* Forms
 --------------------------------------------------------*/

/* Spacings
 --------------------------------------------------------*/

ol,
p,
ul {
    margin-bottom: 20px;
}


/* Headlines
 --------------------------------------------------------*/

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
}
